<app-header></app-header>
<div class="home-container">
  <div class="all-courses">
    <div class="trending-courses">
      <div class="top">
        <h4>Courses</h4>
        <div class="view-all">View All</div>
      </div>
      <div class="courses-thumbnail">
        <div class="courses" *ngFor='let post of posts'>
          <div class="detail">
            <div class="name" (click)="goToCourse(post.id, post.title)"><strong> Title: </strong>{{ post.title }}</div>
            <div class="name"><strong>Description:</strong> {{ post.description }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
